* {
    box-sizing: border-box;
}

body{
    font-family: 'Coiny', cursive, sans-serif;
    /*font-size: 1rem;*/
    line-height: 1.5;
    color: #AA6373;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

ul {
    float: right;
    margin: 25px 20px 0 0;
}

li {
    display: inline;
}

a {
    text-decoration: none;
}

nav ul a {
    padding: 8px;
    text-transform: uppercase;
    color: #AA6373;
}

li a:hover {
    color: #b1b1b1;
}

nav img {
    width:40px;
    height: 40px;
    margin: 25px 20px 0 0;
    float: right;
    display: none;
    color: #AA6373;
}

header {
    background-color: #373F51;
}

.container {
    text-align: center;
}

.container a {
    padding: 2px;
}

.video-wrapper video {
    width: 100%;
}

.hero-content {
    width: 100%;
    position: absolute;
    top: 80px;
}

.hero-content h1 {
    margin-top: 10%;
    text-transform: uppercase;
    font-size: 3rem;
}

.hero-content p {
    font-size: 1.5rem;
}

.about-wrapper {
    padding-bottom: 100px;
    background-color: #373F51;
}

.section-header {
    padding-top: 10px;
}

.front-text {
    color: #ffffff;
    font-family: 'Muli', sans-serif;
    font-size: 4rem;
    z-index: 2;
    position: relative;
    top: 55px;
    text-transform: uppercase;
    margin: 0;
}

.shadow-text {
    font-family: 'Covered By Your Grace', cursive, sans-serif;
    opacity: 0.3;
    font-size: 7rem;
    position: relative;
    bottom: 96px;
    margin: 0;
}

.profile-text {
    font-family: 'Muli', sans-serif;
    color: #ffffff;
    width: 80%;
    margin: 0 auto;
}

.portfolio-wrapper {
    background-color: #A9BCD0;
    padding-bottom: 100px;
    overflow: auto;
}

.gallery {
    width: 90%;
    margin: 0 auto;
}

.project-container{
    background-position: center;
    background-size: cover;
    width: 33.3%;
    float: left;
    height: 300px;
}

.project-1 {
    background-image: url("../img/638712503_1280x720.jpg");
}

.project-2 {
    background-image: url("../img/pilotshop.png");
}

.coming-soon {
    background-image: url("../img/coming-soon-logo_okok.jpg");
}

.card-overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    font-family: 'Muli', sans-serif;
}

.card-overlay:hover {
    background-color: #ffffff;
    opacity: 1;
}

.overlay-text {
    font-size: 2rem;
    padding-top: 70px;

}

.button {
    border: 2px solid #E31B6D;
    width: 170px;
    margin: 56px auto;
    font-size: 13px;
    padding: 12px 0;
    color: #AA6373;
}

.contact-wrapper {
    background-color: #DAA49A;
    height: 500px;
}


.contact-icon {
    width:60px;
    height: 55px;
    margin-top: 10px;
}

.contact-icon-wrapper {
    margin-top: -50px;
}

footer {
    height: 90px;
    background-color: #353535;
}

.footer-icon {
    width:40px;
    height: 40px;
    margin: 25px 20px 20px 0;
    float: right;
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
    .project-container {
        width: 50%;
    }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
    .menu-icon {
        display: inline;
    }

    nav ul {
        display: none;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .profile-text {
        float: none;
    }

    .about-wrapper .scroll-icon {
        bottom: -830px;
    }

    .front-text {
        font-size: 3rem;
    }

    .shadow-text {
        font-size: 6rem;
        top: -69px;
    }
    .gallery {
        width: 100%;
    }

    .project-container {
        width: 100%;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS here */

    .container .video-wrapper {
        box-shadow: none;
    }

    .video-wrapper video {
        height: auto;
    }

    .container .about-wrapper {
        box-shadow: none;
    }

    .about-wrapper .scroll-icon {
        bottom: -700px;
    }
}