* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
}

body{
    font-family: 'Coiny', cursive, sans-serif;
    color: #AA6373;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_toggler {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9999;
    height: 28px;
    width: 28px;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

span,
span::after,
span::before {
    position: absolute;
    content: ' ';
    width: 28px;
    height: 3px;
    background: #AA6373;
    border-radius: 20px;
    transition: 500ms cubic-bezier(0.77,0,0.175,1);
}

span::before {
    top: -8px;
}

span::after {
    top: 8px;
}

.menu_toggler.active > span {
    background: transparent;
}

.menu_toggler.active > span::after,
.menu_toggler.active > span::before {
    background: #AA6373;
    top: 0;
}

.menu_toggler.active > span::before {
    transform: rotate(-220deg);
}

.menu_toggler.active > span::after {
    transform: rotate(220deg);
}

nav {
    position: absolute;
    z-index: 998;
    left: -70%;
    background: #000000;
    height: 100%;
    width: 59%;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 300ms left cubic-bezier(0.77,0,0.175,1);
}

nav.active {
    left: 0;
}

nav a {
    font-size: 1.4rem;
    margin-left: -40px;
    margin-bottom: 1rem;
    text-decoration: none;
    display: block;
    color: #AA6373;
}

nav a:hover {
    color: #b1b1b1;
}

header {
    background-color: #373F51;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.video-wrapper video {
    width: 100%;
    margin-bottom: -5px;
}

.hero-content {
    position: absolute;
    top: 230px;
}

.hero-content h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

.hero-content p {
     font-size: 1.5rem;
}


.section-header {
    margin-top: 40px;
    position: relative;
}

.front-text {
    color: #ffffff;
    font-family: 'Muli', sans-serif;
    font-size: 4rem;
    z-index: 2;
    position: relative;
    top: 25px;
    text-transform: uppercase;
    margin: 0;
}

.shadow-text {
    font-family: 'Covered By Your Grace', cursive, sans-serif;
    opacity: 0.3;
    font-size: 7rem;
    position: relative;
    bottom: 96px;
    margin: 0;
}

.profile-text {
    font-family: 'Muli', sans-serif;
    color: #ffffff;
    width: 80%;
    margin: -50px auto 0 auto;
    padding-bottom: 100px;
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {

    .hero-content {
        top: 80px;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1.1rem;
    }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {

    .hero-content h1 {
        font-size: 1.8rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .front-text {
        font-size: 3rem;
    }

    .shadow-text {
        font-size: 5rem;
        top: -64px;
    }
}